#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score-panel {
    font-size: 1.3rem;
    margin-bottom: 1em;
}

#start {
    cursor: pointer;
}

/* Style for deck*/
#deck {
    background-color: #8F8F8F;
    width: 300px;
    height: 300px;
    display: grid;
    padding: 10px;
    border-radius: 10px;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
    box-shadow: 8px 9px 26px 0 rgba(45, 58, 68, 0.5);
}

.panel {
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#red{
    background-color: darkred;
}

#yellow{
    background-color: darkgoldenrod;
}

#blue{
    background-color: darkblue;
}

#green{
    background-color:darkgreen;
}

/*style for panel events*/
.disabled {
    cursor: pointer;
    pointer-events: none;
}

#red.pulsa {
    /* background-color: green; */
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 0.4s;
    animation-name: pulse;
    animation-duration: 0.4s
}

#yellow.pulsa {
    background-color: yellow;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 0.4s;
    animation-name: pulse;
    animation-duration: 0.4s
}

#blue.pulsa {
    background-color: skyblue;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 0.4s;
    animation-name: pulse;
    animation-duration: 0.4s
}

#green.pulsa {
    background-color: lightgreen;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 0.4s;
    animation-name: pulse;
    animation-duration: 0.4s
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 15em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #02b3e4;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

/* animations */
@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}
